*{
  box-sizing: border-box;
  }

  .profile-picture {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 1;
    border: 2px solid black;
  }

  #work {
    padding-top: 0px;
  }

  .grid-container {
    width: 75%;
  }

  .purelogo {
    height: 375px;
    width: 100%;
    border: 2px solid black;
    padding: 2px;
  }

  .small-work {
    width: 100%;
  }

  @media (max-width:768px) {
    .grid-item {
      width: 100%
    }
  }


  .grid-item {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 0px;
    border: 2px solid black;
  }


  #contact {
    clear: both;
    padding-top: 50px;
  }

