* {
  box-sizing: border-box;
}

.profile-picture {
  height: 300px;
  border: 2px solid;
}

.purelogo {
  height: 400px;
  width: 100%;
  border: 2px solid black;
  padding: 4px;
}
/** this picture should be bigger than all the small-work pictures/

.toprow {
  height: 100%px;
  border: 2px solid;
  width: 200px
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid-item {
  width: 33%;
  font-size: 30px;
  text-align: center;
  border: 3px solid black;
  margin-top: 12px;
}

.grid-big-item {
  width: 40%;
}
/**grid-big-item was just was naming purpose it corrolates with small-work and having them right next to each other can lookcontradicticting but dont focus on that

.small-work {
  width: 100%;
}
/**all of the small-work pictures should be the same/