* {
  box-sizing: border-box;
}

/* /by the default setting all the children will display in a row (h1 and nav) */
header {
  display: flex;
  /* flex-direction:column ; */
  justify-content: space-between;
  /* width: 800px; */
  align-items: center;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;

}

li {
  list-style: none;
  margin-right: 20px;
}

li:last-child {
  margin: 0;
}

.profile-picture {
  width: 200px;
  height: auto;
}

.work {
  display: flex;
  flex-direction: column;

}

.previous-projects {
  display: flex;
  flex-wrap: wrap;
}

.current-project .image-container {
  width: 100%;
  height: 400px;
}

.previous-projects .image-container {
  width: 50%;
  height: 300px;
}

img {
  width: 100%;
  height: 300px;
}

.current-project img {
  height: 400px;
}